extends layout 

block content
  section(class="delete-container")
    section(class="delete-modal")
      p Are you sure you want to delete this product?
      section(class="buttons")
        button(class="yes-btn") Yes
        button(class="no-btn") No
  h3 #{product.name}
  ul  
    li #{product.description}
    li #{product.price}
    li #{product.number_in_stock}
    li #{product.category[0].name}
    li 
      img(src=product.image style='width: 50%')
    button 
        a(href="/products/edit/" + product._id) Edit Product
    button(class="delete-btn") Delete Product
  script(src="../javascripts/delete_product.js") 